frontend/dist-electron/DevOps[[:space:]]Platform[[:space:]]Setup[[:space:]]1.0.0.exe filter=lfs diff=lfs merge=lfs -text
frontend/dist-electron/win-unpacked/DevOps[[:space:]]Platform.exe filter=lfs diff=lfs merge=lfs -text
